/*
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/card.scss";
*/

.index {
  flex-direction: column;
  width: 100%;
}

.panel__content {
  .example-item + .example-item.example-item--card {
    margin-top: 48px;
  }
}
